/* Void Styling */

body {
  font-family: Modeseven;
  font-size: 18px;
  user-select: none;
  /* filter: blur(10px); */
}

html {
  height: fit-content;
  user-select: none;
  /* filter: blur(10px); */
  border: solid 3px #222222;
}

.special-body {
  background: #EEEEEE;
  color: #222222;
  animation: void-bg 1s infinite;
}

.special-html {
  animation: void-border 1s infinite;
}

.effect-button {
  border-style: solid;
  border-width: 3px;
  top: auto;
  left: auto;
  max-width: fit-content;
  cursor: pointer;
  color: white;
  /* background-color: white; */
  padding: 2px;
  border-radius: 5px;
  transition: 0.40s;
}

.tiny-text {
  font-size: 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.button-on {
  background-color: lightgreen;
  box-shadow: 0px 0px 5px lightgreen;
  border-color: hsl(120, 73%, 70%);
}

.button-off {
  background-color: lightcoral;
  box-shadow: 0px 0px 5px lightcoral;
  border-color: hsl(0, 79%, 70%);
}

.cursor {
  cursor: pointer;
}

.void-img {
  filter: invert(100%);
  animation: void-image 1s infinite;
}

@keyframes void-image {
  50% {
    filter: none;
  }
}

.void-img-shadow {
  box-shadow: 0px 0px 3px #EEEEEE;
  animation: void-img-shade 1s infinite;
}

@keyframes void-img-shade {
  50% {
    box-shadow: 0px 0px 3px #222222;
  }
}

@keyframes void-bg {
  50% {
    background-color: #222222;
  }

  50% {
    color: #EEEEEE;
  }
}

@keyframes void-border {
  50% {
    border-color: #EEEEEE;
  }
}

@font-face {
  font-family: 'Modeseven';
  src: url('../Assets/Fonts/Modeseven.ttf');
}

/* Japanese Pixel Font */
@font-face {
  font-family: 'Madou';
  src: url('../Assets/Fonts/Madou Futo Maru Gothic.ttf');
}

.void-shade {
  text-shadow: 0px 0px 3px #EEEEEE;
  animation: void-shade 1s;
}

@keyframes void-shade {
  50% {
    text-shadow: 0px 0px 3px #222222;
  }
}

.void-scale {
  font-size: 20px;
  animation: void-scale 50ms infinite;
  font-weight: bolder;
}

@keyframes void-scale {
  50% {
    font-size: 25px;
  }
}

.center {
  text-align: center;
}

.art-size {
  max-height: 400px;
  max-width: 400px;
  height: auto;
  width: 60%;
  border-radius: 5px;
  transition: 1s ease-in-out;
}

.art-size:active {
  height: auto;
  width: 80%;
}

.second-header {
  font-size: 23px;
}


/* Shaking Effect */
.shake {
  display: inline-flex;
  transform-origin: center center;
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  font-size: 18px;
}

.shake-delay {
  animation-delay: 50ms;
}

@keyframes shake {
  2% {
    transform: translate(-0.5px, 2.5px) rotate(-0.5deg);
  }

  4% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }

  6% {
    transform: translate(1.5px, -1.5px) rotate(1.5deg);
  }

  8% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg);
  }

  10% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }

  12% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }

  14% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }

  16% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }

  18% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }

  20% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }

  22% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }

  24% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }

  26% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }

  28% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg);
  }

  30% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  32% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }

  34% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }

  36% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }

  38% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }

  40% {
    transform: translate(1.5px, -1.5px) rotate(1.5deg);
  }

  42% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }

  44% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }

  46% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg);
  }

  48% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }

  50% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }

  52% {
    transform: translate(1.5px, -1.5px) rotate(1.5deg);
  }

  54% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }

  56% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }

  58% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }

  60% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
  }

  62% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  64% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }

  66% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }

  68% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }

  70% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }

  72% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
  }

  74% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }

  76% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }

  78% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }

  80% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }

  82% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg);
  }

  84% {
    transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
  }

  86% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }

  88% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }

  90% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg);
  }

  92% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }

  94% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }

  96% {
    transform: translate(1.5px, 2.5px) rotate(0.5deg);
  }

  98% {
    transform: translate(2.5px, -0.5px) rotate(1.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

/* Source: https://elrumordelaluz.github.io/csshake/
    Thanks dudes */